@use "mixins.scss";
@use "variables.scss";
@use "global.scss";

%alignCenterFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tv-card {
  @include mixins.backgroundColorAndTextColor(variables.$dark-card-bg, variables.$dark-text);
  &-title {
    background: variables.$dark-card-bg;
    min-height: 50px;
    line-height: 1.3;
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-word;
    border-radius: 10px;
    max-width: 100%;
  }
}

.tv-card-body {
  max-width: 300px;
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  & .tv-card {
    @extend %alignCenterFlex;
    border-radius: 0 0 20px 20px;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 170px;

    &-image {
      position: absolute;
      height: 180px;
      min-width: 300px;
      overflow: hidden;
      top: -30px;

      & img {
        border-radius: 30px 30px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0 10px;
      }
    }

    &-content {
      @extend %alignCenterFlex;
      position: relative;
      flex-direction: column;
      margin-top: 10px;
      min-height: 150px;

      & .tv-card-title {
        border-radius: 30px 30px 0 0;
        position: relative;
        width: 85%;
        padding: 12px 15px;
        text-align: center;
        margin-top: -70px;
        margin-bottom: 0;
      }

      & .tv-card-label {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        padding: 0 10px;
        margin-top: 10px;
      }

      & .tv-card-description {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 20px;
        padding: 15px;
        text-align: center;
      }
    }
    & .tv-card-action {
      position: relative;
      width: 100%;
      bottom: 20px;
      display: flex;
      justify-content: center;

      & .tv-card-button {
        position: absolute;
        display: flex;
        gap: 10px;
      }
    }
  }
  .tv-pt-0 {
    padding-top: 0 !important;
  }
}

.light-mode {
  .tv-card {
    @include mixins.backgroundColorAndTextColor(variables.$light-card-bg, variables.$light-text);

    &-title {
      background: variables.$light-card-bg;
    }
  }
}

.tv-card-vertical {
  max-width: 600px;

  .tv-card {
    flex-direction: row;
    margin-top: 0;
    border-radius: 20px;
    padding: 15px;

    &-image {
      position: static;
      height: auto;
      min-width: 200px;
      max-width: 200px;
      min-height: 250px;
      top: auto;
      margin-right: 20px;

      & img {
        border-radius: 20px;
        padding: 0;
        height: 100%;
        min-height: 250px;
      }
    }

    &-content {
      margin-top: 0;
      min-height: auto;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1;

      .tv-card-title {
        margin-top: 0;
        width: 100%;
        text-align: left;
        border-radius: 10px;
        padding: 10px 15px;
      }

      .tv-card-label {
        justify-content: flex-start;
        padding: 0;
      }

      .tv-card-description {
        text-align: left;
        padding: 15px 0;
        margin-bottom: 10px;
      }
    }

    .tv-card-action {
      position: static;
      bottom: auto;
      width: auto;
      align-self: flex-end;
      margin-top: auto;

      .tv-card-button {
        position: static;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

